
{% extends 'base.html' %}

{% block content %}



<div class="card border-info mb-3">
  <div class="card-body">




<!-- <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>start date:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>end date:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody></table> -->
    <table id="saleitmrep" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>InvoiceNo</th>
                <th>Item Name</th>
                
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in ivt %}
            <tr>
                <td>{{i.inv}}</td>
                <td>{{i.item}}</td>
                
                <td>{{i.qty}}</td>
                <td>{{i.rate}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.idate|date:"Y-m-d" }}</td>
                
            </tr>
            {% endfor %}
            
            
        </tbody>
        <tfoot>
            <tr>
                <th>InvoiceNo</th>
                <th>Item Name</th>
                
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </tfoot>
    </table>


</div>
</div>






{% endblock content %}

